<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>REGISTRO USUARIOS</title>
    <!-- <link rel="stylesheet" href="/css/styles.css"> -->
</head>

<body>   

    <header>
        <h1> BIENVENIDO AL REGISTRO DE USUARIOS !</h1>
    </header>

<!--  Formulario de validacion de usuario-->

    <form action="/registro" method="POST">
        <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" >
        </div>

        <div>
            <label for="usuario">Tu Usuario</label>
            <input type="text" name="usuario" id="usuario">
        </div>

        <div>
            <label for="password">Tu contraseña</label>
            <input type="password" name="password" id="password" >
        </div>

        <div>
            <label for="password1">Repite Tu contraseña</label>
            <input type="password" name="password1" id="password1" >
        </div>

        <input type="submit">
    </form>

        
    <footer> 
        <h1>DESARROLLO WEB </h1>

    </footer>

</body>
</html>